<div class="main">
<div class="row-sm-12 row-md-12 row-lg-12 d-flex p-4 ">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <span>Cantidad de exSolovinos:</span>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2">
    <span>{{cuantitiOfExsolovinos}}</span>
    
  </div>

</div>

    <div class="row-sm-12 row-md-12 row-lg-12 p-4 d-flex flex-column align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-4 mt-4" *ngFor="let exsolovino of exSolovinos; let i = index">

            <div class="card" style="width: 100%;">

              <div class="title d-flex justify-content-center mt-2">
                <h2>{{exsolovino.name_pet}}</h2>
              </div>

                <div class="img-dog d-flex justify-content-center">
                    <img src="./../../../../assets/dog1.svg" class="card-img-top" alt="...">
                </div>
                
                <div class="card-body">
                  
                  <div class="card-text">
                      <div class="row-sm-12 row-md-12 row-lg-12 d-flex ">

                          <div class="col-sm-7 col-md-3 col-lg-4 ">
                            <span>Edad:</span>
                          </div>

                          <div class="col-sm-5 col-md-9 col-lg-8">
                              <span> {{exsolovino.age_pet}}</span>
                        </div>


                      </div>

                      <div class="row-sm-12 row-md-12 row-lg-12 d-flex ">

                        <div class="col-sm-7 col-md-3 col-lg-4 ">
                          <span>Raza:</span>
                        </div>

                        <div class="col-sm-5 col-md-9 col-lg-8">
                            <span> {{exsolovino.race_pet}}</span>
                      </div>


                    </div>

                    <div class="row-sm-12 row-md-12 row-lg-12 d-flex ">

                        <div class="col-sm-7 col-md-3 col-lg-4 ">
                          <span>Sexo:</span>
                        </div>

                        <div class="col-sm-5 col-md-9 col-lg-8">
                            <span> {{exsolovino.sex_pet}}</span>
                      </div>



                      


                    </div>

                    <div class="row-sm-12 row-md-12 row-lg-12 d-flex ">

                        <div class="col-sm-7 col-md-3 col-lg-4 ">
                            <span>Esterilización:</span>
                          </div>
    
                          <div class="col-sm-5 col-md-9 col-lg-8">
                              <span *ngIf="exsolovino.sterulization_pet; else isNoSteriliced"> Si</span>
                        </div>
                        <ng-template #isNoSteriliced>
                            No

                        </ng-template>
                      </div>

                    <div class="row-sm-12 row-md-12 row-lg-12 d-flex ">

                        <div class="col-sm-7 col-md-3 col-lg-4 ">
                          <span>Descripción:</span>
                        </div>

                        <div class="col-sm-5 col-md-9 col-lg-8">
                            <span> {{exsolovino.description_pet}}</span>
                      </div>


                    </div>

                
                    
                  </div>

                  <div class="actions d-flex justify-content-center">
                    <a href="/" mat-raised-button class="mt-4" >Ver</a>
                  </div>
                  
                </div>
              </div>
            
        </div>
    </div>




  </div>