<div class="main">
    <div class="row-sm-12 row-md-12 row-lg-12 p-4">
<div class="col-sm-12 col-md-4 col-lg-4">
    <button mat-raised-button id="create-button" routerLink="/admin/create-adoptions">
        Crear
        <mat-icon>add</mat-icon>
    </button>

</div>
    </div>

    <div class="row-sm-12 row-md-12 row-lg-12  mt-2 p-4">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Lista de adopciones
                    </mat-card-title>


                </mat-card-header>
                <mat-card-content>
                    <div class="table-responsive">

                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let adoption of adoptionsFromServer">
                                <td>{{adoption._id}}</td>
                                <td>{{adoption.name_pet}}</td>
                                <td>

                                    <button mat-raised-button [routerLink]="['/admin/view-adoption',adoption._id]">
                                        <mat-icon>
                                            visibility
                                        </mat-icon>
                                    </button>
                                    
                                </td>

                                <td>
                                    <button mat-raised-button (click)="deleteAdoption(adoption._id)">
                                        <mat-icon >
                                            deleted
                                        </mat-icon>
                                    </button>
                                </td>
                              </tr>
                              
                            </tbody>
                          </table>
                    </div>
                   
                </mat-card-content>
            </mat-card>
        </div>    
    </div>

</div>