<div class="main p-4">
    <div class="row-sm-12 row-md-6 row-lg-6  d-flex justify-content-center">
        <div class="col-sm-12 com-md-6 col-lg-6 m-2">
            <mat-card>
                <mat-card-title>
                    <mat-toolbar>
                        Vista previa
                    </mat-toolbar>
                    
                </mat-card-title>

                <mat-card-content>

                    <form [formGroup]="previewForm" >

                        <div class="image-section">
                        
                            <img [src]= "photoSelected || '../../../../assets/images/dog.png'" alt="">
                        </div>
                        <div class="form-Group">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" readonly formControlName="name_pet" [(ngModel)]="postFromServer.name_pet">
                        </div>

                        <div class="form-Group">
                            <label for="age">Edad</label>
                            <input type="text" id="age" readonly formControlName="age_pet" [(ngModel)]="postFromServer.age_pet">
                        </div>

                        <div class="form-Group">
                            <label for="sex">Sexo</label>
                            <input type="text" id="sex" readonly formControlName="sex_pet" [(ngModel)]="postFromServer.sex_pet">
                        </div>

                        <div class="form-Group">
                            <label for="race">Raza</label>
                            <input type="text" id="race" readonly formControlName="race_pet" [(ngModel)]="postFromServer.race_pet">
                        </div>

                        <div class="form-Group">
                            <label for="description">Descripción</label>
                            <textarea type="text" id="description" readonly formControlName="description_pet" [(ngModel)]="postFromServer.description_pet"> </textarea>
                        </div>

                        <div class="form-Group">
                            <label for="date">Fecha Desaparición</label>
                            <input type="text" id="date" readonly formControlName="date_disapparence" [(ngModel)]="postFromServer.date_disapparence">
                        </div>

                        <div class="form-Group">
                            <label for="place">Luegar Desaparición</label>
                            <input type="text" id="place" readonly formControlName="place_disapparence" [(ngModel)]="postFromServer.place_disapparence">
                        </div>
                        

                    </form>

                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 m-2" >


            <mat-card>
                <mat-toolbar>
                    <mat-card-title>

                        Datos del post
                    </mat-card-title>
                </mat-toolbar>
                
        
                <mat-card-content>
                    <form [formGroup]="updatePetForm" (ngSubmit)="updatePet(sex_pet)" >
                        
                       
                       
                        <div class="form-Group">
                            <input type="file" hidden (change)="onPhotoSelected($event)"  formControlName="image"  #imageUpload>
                            <div class="select file">
                                <button type="button" mat-raised-button (click)="imageUpload.click()" id="upload-image" >
                                    <div class="file-exist" *ngIf="photoSelected">
                                        <p>
                                            Archivo: {{fileName}}
                                        </p>
                                        
                                    </div>

                                    <div class="file-no-exist" *ngIf="!photoSelected">
                                        <p>
                                            Cargar imagen
                                        </p>
                                        <mat-icon>attach_file</mat-icon>
                                    </div>
                                    
                                </button>
                            </div>
                        </div>

                        <div class="form-Group">
                            <label>Nombre</label>
                            <input type="text" id="name" formControlName="name_pet" [(ngModel)]="postFromServer.name_pet">
                        </div>
            
                        <div class="form-Group">
                            <label  for="age">Edad</label>
                            <input type="number" id="age" formControlName="age_pet" [(ngModel)]="postFromServer.age_pet">
                        </div>
            
                        <div class="form-Group">
                            <label for="sex">Sexo</label>
                            <select #sex_pet>
                                <option *ngFor="let option of sex_option;">{{option}}</option>
                            </select>
                            
                           
                        </div>
            
                        <div class="form-Group">
                            <label for="race">Raza</label>
                            <input type="text" id="race"  formControlName="race_pet" [(ngModel)]="postFromServer.race_pet">
                        </div>
            
                        <div class="form-Group">
                            <label for="description">Descripción</label>
                            <textarea type="text" id="description" formControlName="description_pet" [(ngModel)]="postFromServer.description_pet"></textarea>
                        </div>
            
                        <div class="form-Group">
                            <label for="date">Fecha Desaparición</label>
                            <input type="date" id="date"  formControlName="date_disapparence" [(ngModel)]="postFromServer.date_disapparence">
                        </div>
            
                        <div class="form-Group">
                            <label for="place">Lugar Desaparición</label>
                            <input type="text" id="place"  formControlName="place_disapparence" [(ngModel)]="postFromServer.place_disapparence">
                        </div>
                        
                            <button type="submit" mat-raised-button color="primary">Guardar</button>
                    </form>
                </mat-card-content>
                
            </mat-card>
                   
        
                </div>

    </div>

   
</div>